/*Header*/

.title {
  font-family: 'Taviraj', serif;
  font-size: 45px;
}

.subtitle {
  font-family: 'Taviraj', serif;
  font-size: 16px;
  font-style: italic;
}

p {
   
  width:90%; 
  
  max-width:250px;
  margin-top: 25px;
  text-align: left;
}
